.imgEstrenos{
    width: 60%;
    align-items: center;
    padding-left: 20%;
}

.textAlignCenter{
    text-align: center;
}

.textoEstrenos{
    font-size: 15px;
}

.textoEstrenos16{
    font-size: 16px;
}